<p>Enter the details for the task:</p>
<form [formGroup]="taskCreationForm" (ngSubmit)="submitTaskForm()">
  <p>Title: <input type="text" formControlName="titleControl" /></p>
  <p>Done: <input type="text" formControlName="doneControl" /></p>
  <button [disabled]="!taskCreationForm.valid">Submit</button>
  <span
    *ngIf="
      taskCreationForm.get('titleControl').hasError('minlength') ||
      taskCreationForm.get('titleControl').hasError('required')
    "
  >
    The title field should be more than 3 letters.
  </span>
  <br />
  <span
    *ngIf="
      taskCreationForm.get('doneControl').hasError('pattern') ||
      taskCreationForm.get('doneControl').hasError('required')
    "
  >
    The done field is required and the value must be either "true" or "false".
  </span>
</form>
