<button (click)="navigateToUserPostsComponent()">Get Users</button>

<h3>People</h3>
<nav>
  <div *ngFor="let prs of person">
    <a
      [routerLink]="[prs.id]"
      [queryParams]="{ color }"
      [ngStyle]="{ color: color }"
      >{{ prs.name }}
    </a>
  </div>
</nav>
<router-outlet></router-outlet>
