<div (click)="displayPersonTasks(person)">
  <h3>Name:{{ person.name }}</h3>
  <h3>Age:{{ person.age }}</h3>
  <p>
    <b><i>Amount of unfinished tasks:</i></b>
    {{ showNumberOfRemainingTasks(person) }}
  </p>
</div>
<ng-container *ngIf="!person.showTasks">
  <app-task *ngFor="let task of person.tasks" [task]="task"></app-task>
</ng-container>
<button (click)="navigateToCreateTask(person.id)">Create task</button>
