<form [formGroup]="charactersFormGroup">
  <input
    id="characterName"
    type="text"
    formControlName="characterName"
    placeholder="Enter the characters name or last name"
  />
</form>

<table>
  <tr>
    <th>Name</th>
    <th>Nickname</th>
    <th>Status</th>
    <th>Portrayed</th>
    <th>Image</th>
  </tr>
  <tbody>
    <tr *ngFor="let chars of characters$ | async">
      <td>{{ chars.name }}</td>
      <td>{{ chars.nickname }}</td>
      <td>{{ chars.status }}</td>
      <td>{{ chars.portrayed }}</td>
      <td><img [src]="chars.img" /></td>
    </tr>
  </tbody>
</table>
