<ul class="nav navbar-nav">
  <li><a [routerLink]="['person']">Person</a></li>
  <li><a [routerLink]="['create-person']">Create Person</a></li>
  <li><a [routerLink]="['breaking-bad']">Breaking-bad</a></li>
</ul>
<router-outlet></router-outlet>
