<p>Enter the details for the person:</p>
<form [formGroup]="personCreationForm" (ngSubmit)="submitPersonForm()">
  Name: <input type="text" formControlName="nameControl" /> Age:
  <input type="number" formControlName="ageControl" />
  <button [disabled]="!personCreationForm.valid">Submit</button>

  <br />
  <span *ngIf="personCreationForm.get('nameControl').hasError('required')">
    The name field is required.
  </span>
  <br />
  <span *ngIf="personCreationForm.get('ageControl').hasError('required')">
    The age field is required.
  </span>
</form>
