<p>What's the id of the user you want to get?</p>
<input type="number" [formControl]="idControl" />
<button (click)="displayUserPosts()" [disabled]="!idControl.valid">
  Submit
</button>
<span *ngIf="idControl.errors?.['required']">The field is required.</span>
<span *ngIf="idControl.errors?.['max']">
  The value must be between 1 and 10.
</span>
<h3>User Id: {{ post[0].userId }}</h3>
<br />
<div *ngFor="let pst of post">
  <h3>Post Id: {{ pst.id }}</h3>
  <h3>Ttile: {{ pst.title }}</h3>
  <h3>Body: {{ pst.body }}</h3>
</div>
